<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaocoder.test">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- popwindow -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 以上是二维码权限 -->
    <!-- 读取联系人需要权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission> -->
    <!-- 用于读取手机当前的状态 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> -->
    <!-- 访问网络，网络定位需要上网 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission> -->
    <!-- 百度地图 -->
    <!-- umeng 更新 -->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
        <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    -->
    <!-- umeng 更新 -->
    <!-- umeng 统计 -->
    <!--
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
     <uses-permission android:name="android.permission.INTERNET"></uses-permission>
     <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    -->
    <!-- umeng 统计 -->
    <!-- umeng 分享 -->
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        &lt;!&ndash; 获取mac地址作为用户的备用唯一标识 &ndash;&gt;
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        &lt;!&ndash; 获取用户手机的IMEI，用来唯一的标识用户 &ndash;&gt;
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        &lt;!&ndash; 缓存资源优先存入SDcard &ndash;&gt;
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        &lt;!&ndash; 允许应用程序联网，以便向我们的服务器端发送数据 &ndash;&gt;
        <uses-permission android:name="android.permission.INTERNET" />
        &lt;!&ndash; QQ、QQ空间所需权限 &ndash;&gt;
        <uses-permission android:name="android.permission.GET_TASKS" />
    -->
    <application
        android:name="com.xiaocoder.middle.MApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >

        <!-- 友盟更新  友盟统计 友盟分享共用的key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55cafdb967e58e1bb400076e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 友盟更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟更新 -->
        <!-- 友盟分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 友盟 QQ空间和QQ 的回调Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟 QQ空间和QQ SSO授权的Activity注册 -->


        <!-- 百度地图定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":baidulocation" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IXYxbRGeL1OH1e6KkLgk37n4" />

        <activity
            android:name=".baidumap.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/XCTheme" />
        <!-- 百度地图定位 -->

        <activity
            android:name=".view.SwitchButtonActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/XCTheme" />
        <activity
            android:name="com.xiaocoder.android.fw.general.exception.XLShowExceptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.DialogActivity3"
            android:label="@string/title_activity_dialog_activity3"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".video.XCVideoActivity2"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" >

            <!--
                      <intent-filter>
                      <action android:name="android.intent.action.VIEW" />

                      <data
                          android:mimeType="video/*"
                          android:scheme="http" />
                      <data
                          android:mimeType="video/*"
                          android:scheme="file" />
                      <data
                          android:mimeType="audio/*"
                          android:scheme="http" />
                      <data
                          android:mimeType="audio/*"
                          android:scheme="file" />

                      <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
            -->
        </activity>
        <activity
            android:name=".video.XCVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" >

            <!--
                      <intent-filter>
                      <action android:name="android.intent.action.VIEW" />

                      <data
                          android:mimeType="video/*"
                          android:scheme="http" />
                      <data
                          android:mimeType="video/*"
                          android:scheme="file" />
                      <data
                          android:mimeType="audio/*"
                          android:scheme="http" />
                      <data
                          android:mimeType="audio/*"
                          android:scheme="file" />

                      <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
            -->
        </activity>
        <activity
            android:name=".anim.AnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".line_point.LinePointActivityGC"
            android:label="@string/title_activity_line_point"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http.HttpDownLoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".slidingmenu.SlidingMenuActivity"
            android:label="@string/title_activity_line_point"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".slidingmenu.SlidingMenuActivity2"
            android:label="@string/title_activity_line_point"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".scan.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http.HttpActivity"
            android:label="@string/title_activity_http"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".pop.PopActivity"
            android:label="@string/title_activity_pop"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http2.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".http2.GridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".fragment.MoveBlockActivity"
            android:label="@string/title_activity_move_block"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.CamareActivity"
            android:label="@string/title_activity_camare"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".fragment.SearchActivity2"
            android:label="@string/title_activity_search"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.ScrollActivity"
            android:label="@string/title_activity_scroll"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".contacts.ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XCTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 以下viewpagerindicator -->
        <activity
            android:name=".viewpagerindicator.ListSamples"
            android:label="ViewPager Indicator" >

            <!--
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- CIRCLE INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleCirclesDefault"
            android:label="Circles/Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesInitialPage"
            android:label="Circles/Initial Page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesSnap"
            android:label="Circles/Snap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesStyledLayout"
            android:label="Circles/Styled (via layout)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesStyledMethods"
            android:label="Circles/Styled (via methods)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesStyledTheme"
            android:label="Circles/Styled (via theme)"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleCirclesWithListener"
            android:label="Circles/With Listener" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- ICON INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleIconsDefault"
            android:label="Icons/Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- LINE INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleLinesDefault"
            android:label="Lines/Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleLinesStyledLayout"
            android:label="Lines/Styled (via layout)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleLinesStyledMethods"
            android:label="Lines/Styled (via methods)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleLinesStyledTheme"
            android:label="Lines/Styled (via theme)"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- TITLE INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleTitlesBottom"
            android:label="Titles/Default (Bottom)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesCenterClickListener"
            android:label="Titles/Center Click Listener" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesDefault"
            android:label="Titles/Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesInitialPage"
            android:label="Titles/Initial Page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesStyledLayout"
            android:label="Titles/Styled (via layout)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesStyledMethods"
            android:label="Titles/Styled (via methods)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesStyledTheme"
            android:label="Titles/Styled (via theme)"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesTriangle"
            android:label="Titles/Triangle Style" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTitlesWithListener"
            android:label="Titles/With Listener" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- TAB INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleTabsDefault"
            android:label="Tabs/Default"
            android:theme="@style/Theme.PageIndicatorDefaults" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTabsStyled"
            android:label="Tabs/Styled"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleTabsWithIcons"
            android:label="Tabs/With Icons"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- UNDERLINE INDICATOR -->
        <activity
            android:name=".viewpagerindicator.SampleUnderlinesDefault"
            android:label="Underlines/Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleUnderlinesNoFade"
            android:label="Underlines/No Fade" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleUnderlinesStyledLayout"
            android:label="Underlines/Styled (via layout)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleUnderlinesStyledMethods"
            android:label="Underlines/Styled (via methods)"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpagerindicator.SampleUnderlinesStyledTheme"
            android:label="Underlines/Styled (via theme)"
            android:theme="@style/StyledIndicators" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <!-- 以上viewpagerindicator -->

        <activity
            android:name=".scan.CodeActivity"
            android:label="@string/title_activity_code"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".TextActivity"
            android:label="@string/title_activity_text"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".dialogs.CircleProgressBarActivity"
            android:label="@string/title_activity_circle_progress"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".dialogs.LineProgressBarActivity"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http2.ExpandListActivity"
            android:label="@string/title_activity_expand_list"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".view.RoundImageViewActivity"
            android:label="@string/title_activity_round_image_view"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.ImagesZoomActivity"
            android:label="@string/title_activity_view_pager_num_fragment"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".fragment.ViewpagerSliderActivity"
            android:label="@string/title_activity_viewpager_slider"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".dialogs.ProgressViewActivity"
            android:label="@string/title_activity_viewpager_slider"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".share.UmengShareActivity"
            android:label="@string/title_activity_umeng_share"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".http2.GridRefreshActivity"
            android:label="@string/title_activity_material_refresh"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http2.ListRefreshActivity"
            android:label="@string/title_activity_material_refresh2"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http2.GridMaterialActivity"
            android:label="@string/title_activity_grid_material"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".http2.ListMaterialActivity"
            android:label="@string/title_activity_list_materail"
            android:theme="@style/XCTheme" />
        <activity
            android:name=".view.PickerViewActiviy"
            android:label="@string/title_activity_picker_view_activiy"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".imageloader.ImageLoaderActivity"
            android:label="@string/title_activity_jsimage_loader"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".excpetion.ExceptionActivity"
            android:label="@string/title_activity_exception"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".timer.TimerActivity"
            android:label="@string/title_activity_timer"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".view.RecoderButtonActivity"
            android:label="@string/title_activity_recoder_button"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".view.SwipeAdapterActivity"
            android:label="@string/title_activity_swipe_adapter"
            android:theme="@style/XCTheme" >
        </activity>
        <activity
            android:name=".clearcache.ClearCacheActivity"
            android:label="@string/title_activity_clear_cache" >
        </activity>
    </application>

</manifest>
